<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App in ionic
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)" class="capitalize">

  <!-- <ion-tab-bar slot="bottom" class="bg-gradient-to-r from-purple-500 to-fuchsia-500"> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button  mode="ios" tab="home" [class]="selectTab === 'home' ?  'text-fuchsia-500' : 'text-gray-400'">
      <ion-icon aria-hidden="true" name="home-outline" ></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="experience" [class]="selectTab === 'experience' ?  'text-fuchsia-500 ' : 'text-gray-400'" >
      <ion-icon aria-hidden="true" name="map-outline" ></ion-icon>
      Mapa
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="profile" [class]="selectTab === 'profile' ?  'text-fuchsia-500 ' : 'text-gray-400'">
      <ion-icon aria-hidden="true" name="people-outline" ></ion-icon>
        Perfil
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
